<div class="container">
  <h1>Create a bookmark for your <%= @list.name %> playlist</h1>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :movie_id, collection: Movie.all %>
      <%= f.input :comment %>
      <%= f.submit class: "btn btn-primary"%>
    <% end %>
</div>
